[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnomecast
Comment=GTK Chromecast Streamer
Categories=AudioVideo;
Exec=gnomecast
Icon=gnomecast.svg
Terminal=false
